
body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("images/Banner.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  padding: 3em;
  display: grid;
  grid-gap: 2em;
}

.profile{
  background-image: url('images/Profile\ Pic.JPG');
  border-radius: 15%;
  background-size: 300px;
  background-repeat: no-repeat;
  background-position:inherit ;
  height: 300px;
  width: 300px;
  color: black;
  box-shadow: .5em .5em 15px;
  grid-column-start:auto;
}

.bio{
  grid-column-start: 3;
  
}

.video{
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 1;
}