
body, html {
  height: 100%;
  
}

.bg {
  /* The image used */
  background-image: url("images/Banner.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  display:grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "img bio"
  "video contact"
  "footer footer";
  grid-gap: .2rem;
}
.frame{ 
  margin: auto;
  grid-area: img;
}
.profile{
  left: 9000px;
  background-image: url('images/Profile Pic.JPG');
  border-radius: 15%;
  background-size: 300px;
  background-repeat: no-repeat;
  background-position:center ;
  height: 300px;
  width: 300px;
  color: rgba(0, 0, 0, 0.5);
  box-shadow: .5em .5em 15px;
}
.bio{
  background-color: cadetblue;
  grid-area: bio;
}
.video{
  background-color: royalblue;
  grid-area: video;
}
.contact{
  background-color: steelblue;
  grid-area: contact;
}
.footer{
  background-color: slategray;
  width: 100%;
  grid-area: footer;
}

@media only screen and (max-width: 1200px){
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
    grid-template-areas: 
    'img'
    'bio'
    'video'
    'contact'
    'footer';
  }
}